html {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --body-bg: hsl(0, 0%, 98%);
  --grey-light: hsl(0, 0%, 90%);
  --brand-blue: hsl(238, 80%, 61%);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
  background: var(--body-bg);
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 0.5em;
}

a,
span {
  margin-right: 0.25em;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

header > a {
  text-decoration: none;
}

header > small {
  margin-left: 6em;
}

h1 {
  font-style: italic;
  font-size: 2.5em;
  color: var(--brand-blue);
  margin: 0 0.25em;
}

h1 > img {
  height: 1.5em;
  width: auto;
}

ul {
  padding-left: 2em;
  padding-inline-start: 2em;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  object-fit: cover;
  background-color: var(--grey-light);
}

figure img[alt="Cat placeholder"] {
  height: 380px;
}

figcaption {
  font-size: 0.9em;
  padding: 0.25em;
  text-align: center;
}

.search {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--body-bg);
  padding: 0.5em 0;
}

.search > form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1em;
  position: relative;
  align-items: center;
  margin: 0.5em 0;
}

.search input {
  background-color: var(--grey-light);
  font-size: inherit;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  padding-left: 2.5em;
  width: 100%;
  caret-color: blue;
  font-weight: lighter;
}

.search input:focus {
  outline: 5px solid rgb(229, 151, 0);
  outline: -webkit-focus-ring-color auto 5px;
}

.search svg {
  position: absolute;
  left: 0.5em;
  fill: hsl(0, 0%, 50%);
}

button {
  font-size: inherit;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0.25em;
  background: var(--brand-blue);
  color: white;
  height: 100%;
  padding: 0.5em 1em;
  font-weight: lighter;
  position: relative;
  cursor: pointer;
}

button:hover {
  background: hsl(238, 50%, 51%);
}

button:active {
  top: 1px;
}

.install {
  position: absolute;
  height: auto;
  top: 1em;
  right: 0;
  width: 6em;
}

.container {
  background: white;
  border: solid var(--grey-light) 1px;
  border-radius: 0.25em;
  overflow: hidden;
  margin-bottom: 2.5em;
}

.offers {
  color: #311b92;
  list-style: none;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.offers > li {
  border: 1px solid var(--grey-light);
  padding: 0.2em 1em 0.5em 1em;
  border-radius: 2em;
  font-size: 0.9em;
  color: hsl(0, 0%, 40%);
  margin: 0  0.5em 0.5em 0;
}

.offers a {
  text-decoration: none;
  color: inherit;
}

.offers span {
  color: black;
}

.ratings {
  margin: 0.5em 0 0;
  padding: 1em;
  display: grid;
  background: hsl(0, 0%, 97%);
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  text-align: center;
}

.ratings > li {
  display: inline-flex;
  flex-direction: column;
}

.ratings > li:first-child {
  border-right: 1px solid var(--grey-light);
}

.cuteness {
  color: transparent;
  text-shadow: 0 0 0 #fdd835;
}

.price {
  color: transparent;
  text-shadow: 0 0 0 #607d8b;
}

.cuteness::before,
.price::before {
  content: attr(data-label);
  font-weight: lighter;
  color: hsl(0, 0%, 20%);
  text-shadow: none;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 2em;
  padding: 0 1em;
}

.tabs {
  position: relative;
  display: flex;
  height: 20em;
}

.tab {
  padding: 0;
  text-align: center;
  width: 33.333%;
  border-top: 1px solid var(--grey-light);
}

.tab:not(:last-child) {
  border-right: 1px solid var(--grey-light);
}

.tab:hover {
  background: hsl(0, 0%, 95%);
}

.tab > label {
  display: inline-block;
  width: 100%;
  line-height: 3em;
  cursor: pointer;
}

.checkboxtab {
  opacity: 0;
  position: absolute;
}

.checkboxtab:focus ~ label {
  outline: rgb(229, 151, 0) auto 5px;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -4px;
}

.tabcontent {
  position: absolute;
  background-color: var(--body-bg);
  left: 0;
  top: 3em;
  width: 100%;
  display: none;
  height: 22em;
  text-align: left;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0.25em;
}

.checkboxtab:checked ~ .tabcontent {
  display: block;
}

.map {
  object-fit: cover;
  width: 100%;
  height: auto;
  border: solid 1px var(--grey-light);
}

.gallery {
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  grid-auto-rows: 5em 5em;
  grid-auto-flow: dense;
  height: 100%;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 321px) {
  .gallery img:first-child {
    grid-area: 1 / 1 / span 2 / span 2;
  }

  .gallery img:nth-child(3n) {
    grid-column: span 2;
  }
}

.offline {
  align-items: center;
  color: white;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  background-color: rgba(76, 82, 235, 0.95);
  text-align: center;
}

[disabled] {
  cursor: not-allowed;
}
